# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# Environment variables
.env
.env.*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Type checking
.mypy_cache/
.dmypy.json
dmypy.json

# FastAPI / Uvicorn
*.log

# SQLite database (caso use)
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# PyInstaller
*.manifest
*.spec

# Alembic
alembic/versions/*.pyc